/*
Author: Russell Snyder
made for Gabi Terzakis
HeilPractice
*/


/* get rid of white space on right of iphone display */
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
	font-family: 'Montserrat', sans-serif;
	
	width: 100%;

	overflow-x: hidden;
	
}


h1,h2,h3,h4,h5,h6,p,b,a,li,button {
	font-family: 'Open Sans', sans-serif;
	
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	
	}

h1,h2 {
	font-weight: 700;
	
}

h3,h4,h5,h6,p,a,li {
		font-weight: 400;
	}


a {
}

hr {
	background: url('  http://api.thumbr.it/whitenoise-361x370.png?background=eeac5a&noise=edc31a&density=65&opacity=36');
	background-repeat: repeat-x;
	background-color: rgba(245, 208, 87, 0.68);
	
	height: 5px;
	}  


/* outer containers */

.everything {
		
		
		background: url("../img/handmadepaper_yellow.png") ;
		
		background-color: rgba(251, 231, 118, 0.21);
		
		width: 100%;
}

.container {
	width: 100%;
}

/* Banner on Top */
	
.topBanner {
	background: url('  http://api.thumbr.it/whitenoise-361x370.png?background=eeac5a&noise=edc31a&density=65&opacity=36');
	background-repeat: repeat-x;
	background-color: rgba(245, 208, 87, 0.68);
	
padding-bottom: 10px; 
	
}

#clockbox {
	padding-top: 10px;
	margin-right: 10%;
	text-align: right;
	color: white;
	
		
}

.page-header {
	margin-bottom:30px;
	
	text-align: center;
	
	display: inline-block;
    vertical-align: middle;
    float: none;
}

#name {
	z-index: 10;

	color: rgba(111, 59, 25, 1);
	
	text-shadow: -3px 3px 3px rgba(108, 108, 11, 0.15);
	
	font-weight: 700;
	

	}
	
#name h1 {
		margin-bottom: 0px;
		padding-bottom: 0px;
}	

#name b {
	font-weight: 400;
	
	color: #6B9233;
	

}

#name h2 {
	margin-left: 10%;
	
	margin-top: 0px;
	padding-top: 0px;
	

	
}

#logo img {
	width: 40%;
	margin-top: -40%;

	z-index: -200;

	background: -webkit-repeating-radial-gradient(rgba(229, 222, 20, 0.83) 67.55%, rgba(230,223,21,0.47) 1.99%, rgba(229,222,20,0.83) 10.6%, rgba(229,187,20,0.83) 16.23%, #e23112 65.19%, rgba(229,173,20,0.13) 60%, rgba(244, 244, 106, 0.19) 100%); 
	
	padding: 1%;
	
	border-radius: 100%;
}

#slogan h2 {
	
	margin-top: 20px;
	font-style: italic;
	
	font-size: 3em;

color: #4972b9;

text-shadow: -3px 3px 3px rgba(108, 108, 11, 0.36);

	margin-left: 15%;
}


@media (max-width: 750px) {
	#logo img {	margin-top: -80px;
				margin-left: 0%;
				width: 100px;}
}
@media (min-width: 992px) /* medium  */{
	#logo img {	margin-top: -40%;
				margin-left: -10%;}
	
}
@media (min-width: 1200px) /* large */ {
	#logo img {	margin-top: -35%;
				margin-left: 15%;}
				
}


/*
@keyframes slowRotate {
	0%   {-ms-transform: rotate(0deg);-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    100% {-ms-transform: rotate(360deg);-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

@-webkit-keyframes slowRotate {
	0%   {-ms-transform: rotate(0deg);-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    100% {-ms-transform: rotate(360deg);-webkit-transform: rotate(360deg);transform: rotate(360deg);}
    }
*/


#logo img{



/*
    -webkit-transform: translateZ(0);

	-webkit-animation-name: slowRotate;	
	-webkit-animation-duration: 360s;
	-webkit-animation-delay: 5s;
	-webkit-animation-iteration-count: infinite;   

	animation-name: slowRotate;
	animation-duration: 360s;
	animation-delay: 5s;
	animation-iteration-count: infinite;   
*/
}


/* NavBar */

.navbar-brand img{
	margin-bottom: 0%;
	margin-top: -20%;
	background: #6B9233;
	
	padding: 3px;
	
	border-radius: 100%;
	
	border-width: 20px;
}

/* navbar */
.navbar-default {

	background: url('http://api.thumbr.it/whitenoise-361x370.png?background=ba9c1314&noise=e6c163&density=63&opacity=44');
	padding-top: 0px;
	margin-bottom: 0px;
}

.dropdown-menu {

	background: url('http://api.thumbr.it/whitenoise-361x370.png?background=ba9c1314&noise=e6c163&density=63&opacity=44');

	background-color: white;

}


.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #0d4dbb;
    font-weight: 600;
    
	background: rgba(171, 107, 35, .4);
	
	border-top-left-radius: 10px;
	

}


/* title */
/*
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
*/

/* link */
.navbar-default .navbar-nav > li > a {
    color: #492b09;
    
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #0d4dbb;
    font-weight: 600;
    
	background: rgba(171, 107, 35, .4);
	
	border-top-left-radius: 10px;
	
	

}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #4972b9;
    font-weight: 700;

	background: -webkit-linear-gradient(rgba(255,163,34,0.91) 11.59%, rgba(215,217,106,0.46) 23.51%, rgba(251,251,251,0.91) 50.99%, rgba(215,217,106,0.49) 79.47%, #f1d536 88.08%);
	border-bottom-right-radius: 1%;
	
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #6B9233;
    border-bottom-color: #6B9233;
    border-top-width: thick;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

/*
	background: url('  http://api.thumbr.it/whitenoise-361x370.png?background=f98149bf&noise=edc31a&density=65&opacity=36');
  font-weight: 600;
  color: #4972b9;
*/


/* mobile version */
.navbar-default .navbar-toggle {
		background: url('  http://api.thumbr.it/whitenoise-361x370.png?background=eeac5a&noise=edc31a&density=65&opacity=36');
	background-repeat: repeat-x;
	background-color: rgba(245, 208, 87, 0.68);

}
#menuText a {
	font-size: 2em;
	font-weight: 700;
	padding-top: 0px;
	padding-bottom: 0px;
}
button.navbar-toggle {
	padding-top: 0px;
	padding-bottom: 0px;
	
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background: url('  http://api.thumbr.it/whitenoise-361x370.png?background=f98149bf&noise=edc31a&density=65&opacity=36');
}
/*
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
*/


/*
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}
*/


/*

.menuButton, .collapsed {
	padding: 0%;
	margin: 0%;
}

#menuText {
	float: left;
	
	
	font-size: 1em;
}

#menuText a{

	color: black;


		padding: 0;
	margin: 0;

}

#menuIcon {
	float: left;
	padding-right: 30%;
}
*/


.welcome-row {
	margin-top: 12px;
	margin-bottom: 20px;
}


#welcome {
	

	margin-left: 5px;
	margin-right: -5px;

	background: url("../img/linedpaper.png") repeat;
	
	border-top-left-radius: 3%;
	border-top-right-radius: 10%;
	border-top-left-radius: 5%;
	border-bottom-right-radius: 15%;
	
	margin-bottom: 10px;

}

#welcome h2, #welcome p {
		color: rgba(80, 49, 25, 1);

}



/* CAROUSEL! */
/* Outer Most */
.carousel .slide {
	}
	
#myCarousel {
	background: -webkit-radial-gradient(rgba(88,32,10,0.33) 27.48%, rgba(248, 242, 48, 0.38) 40.99%, rgba(93,38,17,0.33) 73%);

	padding: 5px;
	
	border-radius: 15px;


	
	}
/* Little circles */
.carousel-indicators {
		margin-top: 0%;
		margin-left: -120px; 

		display: none;
		
	}
	
/* inside of caro */	
.carousel-inner {
	margin-left: auto;
	margin-right: auto;
	
	}
/* photo inside */	
.item img{
	margin-left: auto;
	margin-right: auto;
	
}
/* caption */

.item .carousel-caption {
	width: 80%;
	height: 100%;
	
	margin-top: -60px;
	
	margin-left: -55px;

	
	background: rgba(255, 255, 255, 0);

	
}

/* title */
.item .carousel-caption h3 {
	font-size: 1.5em;		
	margin-left: 50%;
	margin-right: -50px;


	background: rgba(202, 164, 58, 0.95);
	padding: 5px;
	
	-webkit-border-radius: 10px;
}	
/* caption */
.item .carousel-caption p {
	position: relative;

	margin-top: 55%;
	

	text-align: justify;
	
	background: #4972b9;
	padding: 5px;
	
	-webkit-border-radius: 10px;
	
	line-height: 18px;
	
	width: 100%;

}
		
@media (max-width: 770px) {
.item .carousel-caption p {
	position: relative;
	margin-top: 50%;}
}

@media (max-width: 500px) {
.item .carousel-caption p {
	position: relative;
	margin-top: 70%;}
}

@media (max-width: 400px) {
.item .carousel-caption p {
	position: relative;
	margin-top: 45%;
	margin-left: 20px;
	}
}




/*     <!-- Left and right controls --> */

.carousel-control {
	margin-top: 25%;
	
	height: 20%;
	width: 10%;
	}

.left .carousel-control {	
	
}

.glyphicon {
	margin-bottom: auto;
	margin-top: auto;
	
}

.glyphicon .glyphicon-chevron-left {
	width: 20px;
}


/* Panels */

.panel-therapie {background: rgba(144, 229, 97, 0.3);}
.panel-therapie h4 {color: rgba(51, 89, 31, 1);}

.panel-praxis {background: rgba(255, 173, 140, 0.3);}
.panel-praxis h4 {color: rgba(151, 98, 76, 1);}


.panel-infothek {background: rgba(174, 180, 80, 0.3);}
.panel-infothek h4 {color: rgba(76, 80, 34, 1);}

.panel-ausbildung{background: rgba(151, 100, 165, 0.33);}
.panel-ausbildung h4 {color: rgba(86, 56, 95, 1);}

.panel-fb {background: rgba(72, 135, 244, 0.39);}
.panel-fb {color: rgba(26, 55, 104, 1);}

/* tiny interaction */

.panel-therapie:hover { 
	 -ms-transform: rotate(1deg); /* IE 9 */
    -webkit-transform: rotate(1deg); /* Chrome, Safari, Opera */
    transform: rotate(1deg);
}
.panel-praxis:hover { 
	 -ms-transform: rotate(-1deg); /* IE 9 */
    -webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
    transform: rotate(-1deg);
}
.panel-infothek:hover { 
	 -ms-transform: rotate(-1deg); /* IE 9 */
    -webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
    transform: rotate(-1deg);
}
.panel-ausbildung:hover { 
	 -ms-transform: rotate(1deg); /* IE 9 */
    -webkit-transform: rotate(1deg); /* Chrome, Safari, Opera */
    transform: rotate(1deg);
}
.panel-fb:hover { 
	 -ms-transform: rotate(-1deg); /* IE 9 */
    -webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
    transform: rotate(-1deg);
}


.panel {
	box-shadow: 4px 4px 10px 5px rgba(97, 104, 28, 0.45);
	
	border-bottom-right-radius: 10%
}

.panel-heading {
	background: url('http://api.thumbr.it/whitenoise-361x370.png?background=ba9c1314&noise=e6c163&density=63&opacity=44');	
	padding-top: 10px;
	padding-bottom: 5px;

}

.panel-heading h4 {
	font-size: 1.7em;
}

.panel-body {
	background: url("../img/linedpaper_half.png");
}

.panel-body p {
	text-align: left;
	color: rgba(80, 49, 25, 1);

}

.panel-body img {
	float: left;
	margin-right: 10px;
	border: 1px solid #422e05;
	
	width: 40%;
}

.panel-body .btn {


	width: 100%;
	
	padding-left: 30%;
	padding-right: 30%;
	
	padding-top: 0px;
	padding-bottom: 0px;

	background: url('  http://api.thumbr.it/whitenoise-361x370.png?background=f98149bf&noise=edc31a&density=65&opacity=36');
		
}

.panel-body a.btn{
  
  font-weight: 600;
  color: #4972b9;
  
  font-size: 1.3em;
  
  
  
  }
  
  
  
/*************/  
/* Therapie */  
/*************/  

.therapie {
	margin-bottom: 25px;
}  
    
.therapie-guide nav {
	
	background: url('  http://api.thumbr.it/whitenoise-361x370.png?background=eeac5a&noise=edc31a&density=65&opacity=36');
	background-repeat: repeat-x;
	background-color: rgba(245, 208, 87, 0.68);

} 
/*
.therapie-guide ul.nav {
	margin-top: 10px;
	padding-left: 0%;
	padding-right: 0%;
} 
*/

.therapie-guide li {
	padding: 0%;
	margin: 0%;
	
} 


   
.spag-gal {
	background: url('http://api.thumbr.it/whitenoise-361x370.png?background=ba9c1314&noise=e6c163&density=63&opacity=44');
	
	margin: 10px;
	
	padding: 10px;
}  
 
.spag-gal img {
	
	padding: 5px;
	border: 4px dashed rgba(106, 75, 27, 0.72);
}  
 
/**************/
/* Praxis */
/**************/
 
 @media (min-width: 770px) {

 .praxis-guide {
	 margin-top: 40px;
 }
 }

.locationAndPhotos  {
	padding-top: 15px;
	padding-bottom: 20px;
}

/**************/
/* Aubildung */
/**************/

#peace {
	border: 5px double rgba(106, 187, 245, 0.29);
	border-radius: 5%;
}
 
/**************/
/* Aktuelles */
/**************/


.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget iframe[style]  {width: 100% !important;}



/**************/
/* Kontakt */
/**************/
  


.kontakt .header {
font-size: 32px;
color: #4972b9;
}


  
.kontakt form {
	background: url('  http://api.thumbr.it/whitenoise-361x370.png?background=eeac5a&noise=edc31a&density=65&opacity=36');
	background-repeat: repeat-x;
	background-color: rgba(245, 208, 87, 0.68);

	padding: 0px;
		
	margin: 10px 0px;
	border-radius: 15px;

}

.kontakt .form-group {
	margin-left: 5%;
	margin-right: 5%;
}

.KontaktInfo {
	margin-top: 15px;
}

.KontaktInfo h4 {
	line-height: 25px;
	padding-bottom: 10px;
}
  
footer {
	padding-top: 20px;
	width: 100%;	

	background: url('  http://api.thumbr.it/whitenoise-361x370.png?background=f98149bf&noise=edc31a&density=65&opacity=36');
	background-repeat: repeat-x;
	background-color: rgba(245, 208, 87, 0.68);
	
	padding-bottom: 10px;

}

#copyright {
	margin-left: 1%;
}

#legal {	
}

#legal p {
	font-size: 12px;
	line-height: 12px;

	margin: 0%;
	
}

#credits {
}




/* Force Elements to Self Clear its Children: http://css-tricks.com/snippets/css/clear-fix/ */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */
